<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_ecommerce"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_ecommerce"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        tools:targetApi="31">
        <activity
            android:name="Activities.AddAddress.DeliveryAddressActivity"
            android:exported="false" />
        <activity
            android:name="Activities.AddAddress.CreateAddressActivity"
            android:exported="false" />
        <activity
            android:name="Activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Activities.StoreSetup.RegisterStoreSuccessfulActivity"
            android:exported="false" />
        <activity
            android:name="Activities.ProductSetup.SettingVariantDetailActivity"
            android:exported="false" />
        <activity
            android:name="Activities.StoreSetup.RevenueActivity"
            android:exported="false" />
        <activity
            android:name="Activities.StoreSetup.UpdateStoreInfoActivity"
            android:exported="false" />
        <activity
            android:name="Activities.Invoices.DeliveryActivity"
            android:exported="false" />
        <activity
            android:name="Activities.Invoices.RequestInvoiceActivity"
            android:exported="false" />

        <activity
            android:name="Activities.BuyProduct.SearchActivity"
            android:exported="false" />
        <activity
            android:name="Activities.BuyProduct.CartActivity"
            android:exported="false" />
        <activity
            android:name="Activities.BuyProduct.PaymentActivity"
            android:exported="false" />
        <activity
            android:name="Activities.ProductSetup.SelectCategoryActivity"
            android:exported="false" />
        <activity
            android:name="Activities.RegisterActivity"
            android:exported="false" />

        <activity
            android:name="Activities.AddAddress.SelectAddressActivity"
            android:exported="false" />
        <activity
            android:name="Activities.ProductSetup.AddVariantActivity"
            android:exported="false" />

        <activity
            android:name="Activities.ProductSetup.UpdateProductActivity"
            android:exported="false" />
        <activity
            android:name="Activities.ProductSetup.DeliveryFeeActivity"
            android:exported="false" />
        <activity
            android:name="Activities.ProductSetup.AddProductsActivity"
            android:exported="false" />
        <activity
            android:name="Activities.StoreSetup.ViewMyStoreActivity"
            android:exported="false" />
        <activity
            android:name="Activities.StoreSetup.MyProductsActivity"
            android:exported="false" />
        <activity
            android:name="Activities.StoreSetup.CreateStoreActivity"
            android:exported="false" />
        <activity
            android:name="Activities.StoreSetup.StoreOwnerActivity"
            android:exported="false" />
        <activity
            android:name="Activities.StoreSetup.ActivateStoreActivity"
            android:exported="false" />
        <activity
            android:name="Activities.Invoices.InvoiceDetailActivity"
            android:exported="false" />
        <activity
            android:name="Activities.Invoices.InvoiceActivity"
            android:exported="false" />
        <activity
            android:name="Activities.ProfileSetup.AccountAndSecurityActivity"
            android:exported="false" />
        <activity
            android:name="Activities.ProfileSetup.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name="Activities.ProfileSetup.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="Activities.SpendingsActivity"
            android:exported="false" />
        <activity
            android:name="Activities.BuyProduct.ProductImagesDetailActivity"
            android:exported="false" />
        <activity
            android:name="Activities.BuyProduct.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name="Activities.LoginActivity"
            android:exported="false"></activity>
        <activity
            android:name="Activities.MainActivity"
            android:exported="false"></activity>
    </application>

</manifest>