<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="Service.ConFigApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        tools:targetApi="31">
        <service android:name="Service.EcommerceService" />
        <activity
            android:name="Activities.InvoiceActivity"
            android:exported="false" />
        <activity
            android:name="Activities.CartActivity"
            android:exported="false" />
        <activity
            android:name="Activities.AccountAndSecurityActivity"
            android:exported="false" />
        <activity
            android:name="Activities.UpdateProfileActivity"
            android:exported="false" />

        <activity
            android:name="Activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="Activities.StatisticsActivity"
            android:exported="false" />
        <activity
            android:name="Activities.PaymentActivity"
            android:exported="false" />
        <activity
            android:name="Activities.ProductImagesDetailActivity"
            android:exported="false" />
        <activity
            android:name="Activities.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name="Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name="Activities.LoadingActivity"
            android:exported="false" />
        <activity
            android:name="Activities.MainActivity"

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>